* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content-section {
  width: 80%;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
}