/* Common styles for elements */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 1980px;
  margin: auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

button {
  background-color: #3882F6;
  color: #E5E7EB;
}

/* Hero section */

.hero-section {
  padding: 25px 10% 100px 10%;
  background-color: #1F2937;
  font-size: 18px;
  color: #E5E7EB;
}

.hero-section h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-section h2 {
  font-size: 24px;
  color: #F9FAF8;
}

.hero-section header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.hero-section button {
  margin-top: 15px;
  border-style: none;
  border-radius: 7px;
  padding: 7px 30px;
  font-size: 18px;
  font-weight: bold;
}

.hero-section img {
  width: 600px;
  height: auto;
}

.hero-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.hero-section .welcome-section {
  max-width: 600px;
}

/* Information section */

.information-section {
  padding: 50px 10% 100px 10%;
  text-align: center;
}

.information-section h2 {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.information-section .container {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
}

.information-section .media-object {
  width: 150px;
}

.information-section .rectangle {
  height: 150px;
  border: solid 4px #3882F6;
  border-radius: 14px;
}

.information-section p {
  margin-top: 6px;
  font-size: 17px;
  color: rgb(73, 73, 73);
}